.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  
}

#home-top {
 
}

.page-links {
  
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.btn {
  width: 300px;
  height: 90px;
  margin-right: 5px;
  border: none;
  border-radius: $radius;
}

.opening{
  width: 605px;
  margin-top: 5px;
  background-color: $color-main; 
  
} 