.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*page links */

.btn {
  width: 300px;
  height: 130px;
  margin-right: 5px;
  border: none;
  border-radius: $radius;
  font-family: $font-header;
  color: $color-light;
  font-size: 15px;
  
}

.page {
  background-position: center;
  background-size: cover;
}

.picture-1{
  background-image: url("/assets/pizza-1.jpg");

}

.picture-2{
  background-image: url("/assets/pizza-2.jpg");
  
}

.btn h2{
  color: white;
  padding: 2px;
  margin-top: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
 
}

.btn a{
  text-decoration: none;
}

.opening{
  width: 605px;
  margin-top: 5px;
  background-color: $color-main;  
} 

.paragraph {
  white-space: nowrap; 
  color: white;
  font-size: 16px;
  overflow: hidden;
  top: 50px;
  margin-top: 10px;
  
}

.btn:hover .overlay {
  height: 100%;
}

.overlay {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .8s ease;
}

/*comments */

.comments {
  height: 250px;
  margin-top: 100px;
  margin-bottom: 49px;
}

.carousel-cell {
  width: 100%; /* full width */
  height: 100%; /* height of carousel */  
}

.photo-comments {
  float: left;
}

.photo-comments img{  
  width: 200px;
  height: 200px; 
  object-fit: cover;
  object-position: 50% 100%; 
}

.flickity-slider{
  height: 200px;
  right: 530px;
}

#home-comments {
  width: 380px;
  height: 200px;
  float: right;
}

/*gallery*/

#home-gallery {
  margin-top: 100px;
}

#home-gallery img {
  width: 200px;
  height: 200px;
  margin-left: 7px;
  border-radius: $radius;
  object-fit: cover;
  object-position: 50% 100%;
}

.img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: 15% 100%;
}

/*footer*/
.footer-home a{
  color: $color-main;
}

.footer-home{
  margin-top: 30px;
}